ADF/pipeline/foreach.json
{
	"name": "foreach",
	"properties": {
		"activities": [
			{
				"name": "foreach_lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable5",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachdynamic",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "foreach_lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('foreach_lookup').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "lookup",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"TableName": {
										"value": "@item().table_name",
										"type": "Expression"
									},
									"ColumnName": {
										"value": "@item().column_name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Main"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-08T07:01:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}